// MOBILE - Current Temperature
.box-temperature {
  display: flex;
  flex-direction: row;
  font-size: 3rem;
  height: $m_primary-height;
  justify-content: center;
  margin-top: 5%;
  width: 100%;

  .wrapper-temperature {
    align-items: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 50%;
  }
  .icon-weather-wrapper {
    padding-top: 10%;
    transform: scale(0.8);

    .icon-weather {
      color: $weather-icon;
      font-size: 5rem;
      padding: 8% 0 0 0;
      animation: fade 7s linear infinite, arc 7s linear infinite;
    }
  }
  .unit-slider {
    margin-left: auto;
    padding: 0 10% 5% 0;
    transform: scale(0.7);
  }
  .text-temperature {
    color: $temperature-text;
    font-size: 4rem;
  }
}

// Desktop/wider screens
@media only screen and (min-width: $MOBILE-WIDTH-BREAKPOINT) {
  // DESKTOP - Current Temperature
  .box-temperature {
    height: $d_primary-height;
    margin-top: 0;
    padding-right: 5%; // this should align with (summary>.summary-left)

    .icon-weather-wrapper {
      padding-top: 10%;
      transform: scale(0.9);

      .icon-weather {
        font-size: 6rem;
      }
    }
    .unit-slider {
      transform: scale(1);
    }
    .text-temperature {
      font-size: 5.5rem;
    }
  }
}

// Animation
@keyframes fade {
  0% {
    color: rgba(255, 255, 255, 0);
  }
  50% {
    color: $weather-icon;
  }
  100% {
    color: rgba(255, 255, 255, 0.7);
  }
}
@keyframes arc {
  0% {
    transform: translate(-30px, 40px) scale(0.7);
  }
  10% {
    transform: translate(-25px, 25px) scale(0.8);
  }
  20% {
    transform: translate(-20px, 10px) scale(0.85);
  }
  30% {
    transform: translate(-10px, -5px) scale(0.9);
  }
  40% {
    transform: translate(0, -20px) scale(0.95);
  }
  50% {
    transform: translate(10px, -25px) scale(1);
  }
  60% {
    transform: translate(20px, -20px) scale(1.05);
  }
  70% {
    transform: translate(30px, -10px) scale(1);
  }
  80% {
    transform: translate(40px, 0) scale(0.95);
  }
  90% {
    transform: translate(50px, 10px) scale(0.9);
  }
  100% {
    transform: translate(60px, 20px) scale(0.85);
  }
}
