// MOBILE - Current Temperature
.box-temperature {
  // border: solid 3px orange;
  display: flex;
  flex-direction: row;
  font-size: 3rem;
  height: $m_primary-height;
  justify-content: center;
  width: 100%;

  .wrapper-temperature {
    align-items: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 50%;
  }
  .icon-weather {
    color: $weather-icon;
    font-size: 5rem;
    padding: 8% 0 0 0;
    animation: fade 6s linear infinite, arc 6s linear infinite;
  }
  .unit-slider {
    margin-left: auto;
    padding: 0 10% 5% 0;
  }
  .text-temperature {
    color: $temperature-text;
    font-size: 4.5rem;
  }
}

// Desktop/wider screens
@media only screen and (min-width: $MOBILE-WIDTH-BREAKPOINT) {
  // DESKTOP - Current Temperature
  .box-temperature {
    height: $d_primary-height;

    .icon-weather {
      font-size: 6rem;
      padding: 10% 0 0 10%;
    }
    .unit-slider {
    }
    .text-temperature {
      font-size: 5.5rem;
    }
  }
}

// Animation
@keyframes fade {
  0% {
    color: rgba(255, 255, 255, 0);
  }
  50% {
    color: $weather-icon;
  }
  100% {
    color: rgba(255, 255, 255, 0);
  }
}
@keyframes arc {
  0% {
    transform: translate(-45px, 25px) scale(0.65);
  }
  20% {
    transform: translate(-25px, 5px) scale(0.8);
  }
  40% {
    transform: translate(-10px, -10px) scale(0.9);
  }
  50% {
    transform: translate(0, -20px) scale(1);
  }
  60% {
    transform: translate(10px, -10px) scale(0.9);
  }
  80% {
    transform: translate(25px, 5px) scale(0.8);
  }
  100% {
    transform: translate(45px, 25px) scale(0.7);
  }
}
