.d-container {
  display: flex;
  flex-direction: row;
  justify-content: center;
}
.d-column {
  // border: solid 3px green;

  display: flex;
  flex-direction: column;
  height: $d_weather-main-height + $d_weather-sub-height + $d_weather-sub-height;
  width: 100%;
}
// Current Temperature
.box-temp {
  // background-color: rgb(237, 232, 94);

  display: flex;
  flex-direction: row;
  font-size: 3rem;
  height: $d_weather-main-height;
  justify-content: center;
  padding-top: 50%;
  padding-right: 10%;

  .temp-group {
    // border: solid 1px red;

    align-items: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 50%;
  }
  .wIcon {
    color: rgba(255, 255, 255, 0.639);
    font-size: 6rem;
    padding-left: 10%;
    padding-top: 10%;
  }
  .unit-slider {
    margin: -3% -50% 12% 0;
  }
  .temp-display {
    font-size: 6rem;
    margin-top: 10%;
  }
}
// Weather Summary
.box-summary {
  display: flex;
  flex-direction: row;

  color: white;
  font-size: 1.5rem;
  height: $d_weather-sub-height;
  padding-right: 10%;
  padding-top: 20%;

  .summary-group {
    // border: solid 1px red;

    display: flex;
    flex-direction: column;
    justify-content: start;

    padding: 3% 0 0% 8%;
    width: 50%;

    p {
      padding: 5% 0% 5% 0%;
    }
    .p-precipitation {
      color: rgb(34, 185, 185);
      text-align: center;
    }
    .rain-icon {
      padding-left: 5%;
    }
    .p-description {
      text-align: center;
    }
    .low-temp {
      color: rgb(16, 127, 211);
    }
    .high-temp {
      color: rgb(215, 23, 10);
      padding-right: 10%;
    }
  }
}
// Weather Details
.box-details {
  background-color: rgb(174, 82, 213);

  height: $d_weather-sub-height;
}
.hidden {
  display: none;
}
