.d-container {
  display: flex;
  flex-direction: row;
  justify-content: center;
}
.d-column {
  border: solid 3px green;

  display: flex;
  flex-direction: column;
  height: $d_weather-main-height + $d_weather-sub-height + $d_weather-sub-height;
  width: 100%;
}
// Current Temperature
.box-temp {
  background-color: rgb(237, 232, 94);

  display: flex;
  flex-direction: row;
  font-size: 3rem;
  height: $d_weather-main-height;
  justify-content: center;
}
// Weather Summary
.box-summary {
  background-color: rgb(78, 187, 131);

  height: $d_weather-sub-height;
}
// Weather Details
.box-details {
  background-color: rgb(174, 82, 213);

  height: $d_weather-sub-height;
}
