// MOBILE - Weather Details
.box-details {
  // border: solid 3px black;
  height: $m_secondary-height;
  top: $m_heading-height + $m_primary-height;

  .wrapper-details {
    font-size: 0.9rem;
    display: flex;
    flex-direction: row;
    padding-left: 10%;
    width: 100%;
  }
  .column-details {
    width: 50%;
  }
  .uvi-rating {
    font-size: 0.6rem;
  }
  .detail-icon {
    padding-right: 2%;
  }
  .daytime {
    padding-right: 2%;
  }
  .sun-icon {
    color: yellow;
  }
  .moon-icon {
    color: gray;
  }
  .wind-icon {
    color: darkgray;
  }
}

// Desktop/wider screens
@media only screen and (min-width: $MOBILE-WIDTH-BREAKPOINT) {
  // DESKTOP - Weather Details
  .box-details {
    font-size: 1.4rem;
    height: $d_details-height;
    top: none;
    .wrapper-details {
      font-size: 1.2rem;
      display: flex;
      flex-direction: column;
      padding-left: 30%;
    }
    .column-details {
      padding-bottom: 10%;
      width: 100%;
    }

    .uvi-rating {
      font-size: 1rem;
    }
  }
}
