// MOBILE - Weather Details
.box-details {
  height: $m_secondary-height;

  .wrapper-details {
    display: flex;
    flex-direction: row;
    font-size: 0.8rem;
    height: 100%;
    width: 100%;
  }
  .column-details {
    display: flex;
    flex-direction: column;
    height: 100%;
    padding: 8% 0 0 8%;
    width: 50%;
    p {
      padding-bottom: 4%;
    }
  }
  .details-label {
    color: $details-label;
  }
  .uvi-rating {
    font-size: 0.6rem;
  }
  .detail-icon {
    padding-right: 2%;
  }
  .daytime {
    padding-right: 2%;
  }
  .sun-icon {
    color: $sun-icon;
  }
  .moon-icon {
    color: $moon-icon;
  }
  .wind-text {
    color: $wind-details;
  }
  .wind-icon {
    color: $wind-icon;
  }
}

// Desktop/wider screens
@media only screen and (min-width: $MOBILE-WIDTH-BREAKPOINT) {
  // DESKTOP - Weather Details
  .box-details {
    height: $d_details-height;

    .wrapper-details {
      font-size: 1.5rem;
      display: flex;
      flex-direction: column;
      margin-top: -20%;
      padding-left: 18%;

      p {
        padding-bottom: 2%;
      }
    }
    .column-details {
      padding-bottom: 10%;
      width: 100%;
    }

    .uvi-rating {
      font-size: 1rem;
    }
  }
}

.hidden {
  display: none;
}
