/*
  Default styling for mobile
-----------------------------------------------*/
.forecastHour-container {
  display: flex;
  flex-direction: column;
  height: $m_forecast-compact-height;
}
.hours-wrapper {
  display: flex;
  flex-direction: row;
  height: 70%;
  padding: 0 2%;
  width: 100%;

  .hour-compact {
    border-right: solid 1px $accent-divider;
    display: grid;
    font-size: 0.8rem;
    grid-template-columns: 1fr;
    grid-template-rows: 20% 40% 30%;
    padding: 0 1%;
    text-align: center;

    .item-hour {
      color: $forecast-heading;
    }
    .item-temp {
      display: flex;
      flex-direction: column;

      .icon-weather {
        color: $weather-icon;
        font-size: 1.4rem;
        padding-bottom: 8%;
      }
      .text-degree {
        color: $temperature-text;
      }
    }
    .item-rain {
      align-items: center;
      display: flex;
      flex-direction: column;
      justify-content: center;

      .wrapper-raindrop-icon {
        font-size: 1.2rem;
        position: relative;
        display: inline-block;

        .raindrop-under {
          color: $rain-probability;
          vertical-align: top;
          -webkit-text-stroke-width: 1px;
          -webkit-text-stroke-color: $rain-probability-outline;
        }
        .raindrop-over {
          color: $rain-probability-fill;
          position: absolute;
          left: 0;
          top: 0;
          overflow: hidden;
          -webkit-text-stroke-width: 1px;
          -webkit-text-stroke-color: $rain-probability-outline;
        }
      }
      .wrapper-raindrop-text {
        .text-probability {
          font-size: 0.8rem;
        }
      }
    }
  }
  .hour-expanded {
    align-items: center;
    border-bottom: solid 1px $accent-divider;
    display: grid;
    font-size: 0.8rem;
    grid-template-columns: 33% 33% 33%;
    grid-template-rows: 1fr;
    margin-bottom: 0.3rem;
    text-align: center;

    .item-hour {
      color: $forecast-heading;
    }
    .item-temp {
      flex-direction: row;

      .icon-weather {
        color: $weather-icon;
        font-size: 1.4rem;
        padding: 0 5% 0 0;
      }
      .text-degree {
        color: $temperature-text;
        font-size: 0.9rem;
      }
    }
    .item-rain {
      align-items: center;
      display: flex;
      flex-direction: row;
      justify-content: center;

      .wrapper-raindrop-icon {
        font-size: 1.2rem;
        position: relative;
        display: inline-block;

        .raindrop-under {
          color: $rain-probability;
          vertical-align: top;
          -webkit-text-stroke-width: 1px;
          -webkit-text-stroke-color: $rain-probability-outline;
        }
        .raindrop-over {
          color: $rain-probability-fill;
          position: absolute;
          left: 0;
          top: 0;
          overflow: hidden;
          -webkit-text-stroke-width: 1px;
          -webkit-text-stroke-color: $rain-probability-outline;
        }
      }
      .wrapper-raindrop-text {
        padding: 0 0 0 8%;
        .text-probability {
          font-size: 0.8rem;
        }
      }
    }
  }
}
.expanded-wrapper {
  display: flex;
  flex-direction: column;
}

// Desktop/wider screens
@media only screen and (min-width: $MOBILE-WIDTH-BREAKPOINT) {
  .forecastHour-container {
    height: $d_forecast-compact-height;
  }
  .hours-wrapper {
    .hour-compact {
      font-size: 1.2rem;
      grid-template-columns: 1fr;
      grid-template-rows: 34% 33% 33%;
      padding-bottom: 6%;

      .item {
        padding-right: 4%;
      }
      .item-temp {
        .icon-weather {
          font-size: 2rem;
        }
        .text-degree {
          font-size: 1.3rem;
        }
      }
      .item-rain {
        .wrapper-raindrop-icon {
          font-size: 1.7rem;
        }
        .wrapper-raindrop-text {
          padding-top: 5%;
          .text-probability {
            font-size: 0.9rem;
          }
        }
      }
    }
    .hour-expanded {
      .item {
        text-align: center;
      }
      .item-temp {
        .text-degree {
          font-size: 1rem;
        }
      }
      .item-rain {
        flex-direction: row;

        .wrapper-raindrop-icon {
          font-size: 1.7rem;
        }
        .wrapper-raindrop-text {
          padding: 0 0 0 8%;
          .text-probability {
            font-size: 0.9rem;
          }
        }
      }
    }
  }
}
