.forecastHour-container {
  // border: solid 1px black;

  color: white;
  display: flex;
  flex-direction: column;
  height: $m_forecast-compact-height;

  // align-items: center;
  // padding-top: 15%;
}
.h-inner-wrapper {
  // border: solid 1px red;

  display: flex;
  flex-direction: row;

  padding: 0 5% 0 5%;
  width: 100%;

  // height: $m_forecast-compact-height;

  .hour-compact {
    align-items: center;
    display: grid;
    font-size: 0.8rem;
    grid-template-columns: 1fr;
    grid-template-rows: 34% 33% 33%;
    padding-bottom: 6%;
  }
  .h-item {
    padding-bottom: 25%;
    text-align: center;
    width: 100%;
  }
  .h-item-hour {
  }
  .h-item-temp {
    .h-w-icon {
    }
    .h-temp-text {
    }
  }
  .h-item-rain {
    .h-rain-icon {
    }
    .h-percent-text {
    }
  }
}

.expanded {
  flex-direction: column;

  height: $m_forecast-expanded-height;
}
.hour-expanded {
  font-size: 1rem;
  margin: 0.5rem;
}
// .h-resize-btn {
//   background-color: rgba(255, 255, 255, 0);
//   border: none;
//   color: gray;
//   font-size: 0.9rem;
//   // padding: 4% 0 0 0;
//   margin-left: 70%;
//   margin-top: 10%;
// }
@media only screen and (min-width: $MOBILE-WIDTH-BREAKPOINT) {
  .forecastHour-container {
    height: $d_forecast-compact-height;
  }
  .expanded {
    height: $d_forecast-expanded-height;
  }
  .h-inner-wrapper {
    width: 100%;
    // flex-direction: column;

    .hour-compact {
      // align-items: center;
      display: grid;
      font-size: 1.2rem;
      // grid-template-columns: 34% 33% 33%;
      grid-template-columns: 1fr;
      grid-template-rows: 34% 33% 33%;
      padding-bottom: 6%;

      .h-item {
        // border: solid 1px red;

        // justify-self: center;
        // text-align: center;
        width: 100%;
      }
      .h-item-hour {
      }
      .h-item-temp {
        .h-w-icon {
          font-size: 2.5rem;
          padding-right: 0.4rem;
        }
        .h-temp-text {
          font-size: 1.6rem;
        }
      }
      .h-item-rain {
        .h-rain-icon {
          font-size: 2rem;
        }
        .h-percent-text {
          font-size: 1.2rem;
          padding-left: 0.4rem;
        }
      }
    }
  }
}
