/*
  Default styling for mobile
-----------------------------------------------*/
.forecast-container {
  display: flex;
  flex-direction: row;
  height: 100%;
  justify-content: space-between;
  overflow: auto;
  width: 100%;

  .day-forecast {
    border-right: solid 1px $accent-divider;
    display: grid;
    font-size: 0.9rem;
    grid-template-columns: 1fr;
    grid-template-rows: 12% 34% 26% 25%;
    padding: 4%;
    text-align: center;

    .item {
      padding-bottom: 10%;
      text-align: center;
    }
    .item-dayOfWeek {
      color: $forecast-heading;
      text-align: center;
    }
    .item-temperature {
      display: flex;
      flex-direction: column;

      .icon-weather {
        color: $weather-icon;
        font-size: 1.6rem;
        padding-bottom: 0.2rem;
      }
      .text-degrees {
        color: $temperature-text;
        font-size: 0.8rem;
      }
    }
    .item-rain {
      align-items: center;
      display: flex;
      flex-direction: column;
      justify-content: center;

      .wrapper-raindrop-icon {
        font-size: 0.9rem;
        position: relative;
        display: inline-block;

        .raindrop-under {
          color: $rain-probability;
          vertical-align: top;
          -webkit-text-stroke-width: 1px;
          -webkit-text-stroke-color: $rain-probability-outline;
        }
        .raindrop-over {
          color: $rain-probability-fill;
          position: absolute;
          left: 0;
          top: 0;
          overflow: hidden;
          -webkit-text-stroke-width: 1px;
          -webkit-text-stroke-color: $rain-probability-outline;
        }
      }
      .wrapper-raindrop-text {
        .text-probability {
          font-size: 0.7rem;
        }
      }
    }
    .item-highLow {
      display: flex;
      flex-direction: column;
      font-size: 0.7rem;
      text-shadow: 1px 1px 0 $temp-text-shadow;

      .temp-low {
        color: $temp-low-blue;
      }
      .temp-high {
        color: $temp-high-red;
      }
    }
  }
  // Remove borders on last element
  .day-forecast:last-child {
    border: none;
  }
}
// Desktop/wider screens
@media only screen and (min-width: $MOBILE-WIDTH-BREAKPOINT) {
  .forecast-container {
    align-items: center;

    // Individual day forecast div
    .day-forecast {
      font-size: 1.3rem;
      height: 90%;

      .item {
      }
      .item-temperature {
        .icon-weather {
          font-size: 2.5rem;
        }
        .text-degrees {
          font-size: 1rem;
        }
      }
      .item-rain {
        .wrapper-raindrop-icon {
          font-size: 1.7rem;
        }
        .wrapper-raindrop-text {
          padding-top: 5%;
          .text-probability {
            font-size: 0.9rem;
          }
        }
      }
      .item-highLow {
        font-size: 1rem;
      }
    }
  }
}
