.forecastDay-container {
  background-color: rgb(23, 160, 151);
  display: flex;
  flex-direction: row;

  height: $m_forecast-compact-height;
}
.expanded {
  flex-direction: column;

  height: $m_forecast-expanded-height;
}
.day-compact {
  font-size: 0.5rem;
  margin: 0.25rem;
}
.day-expanded {
  font-size: 1rem;
  margin: 0.5rem;
}
#resizeBtn {
  color: rgb(23, 160, 151);
  height: 2rem;
}

@media only screen and (min-width: $MOBILE-WIDTH-BREAKPOINT) {
  .forecastDay-container {
    height: $d_forecast-compact-height;
  }
  .expanded {
    height: $d_forecast-expanded-height;
  }
}
