.forecastDay-container {
  // border: solid 1px black;

  color: white;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-top: 15%;
  // justify-content: flex-end;

  height: $m_forecast-compact-height;
}
.inner-wrapper {
  // border: solid 1px red;

  display: flex;
  flex-direction: row;
  height: $m_forecast-compact-height;
}
.expanded {
  flex-direction: column;

  height: $m_forecast-expanded-height;
}
.day-compact {
  font-size: 0.7rem;
  margin: 0.25rem;
}
.day-expanded {
  font-size: 1.5rem;
  margin: 0.5rem;
}
.resize-btn {
  background-color: rgba(255, 255, 255, 0);
  border: none;
  color: gray;
  font-size: 0.9rem;
  // padding: 4% 0 0 0;
  margin-left: 70%;
  margin-top: 10%;
}
.p-precipitation {
  // color: rgb(34, 185, 185);
}
.low-temp {
  color: rgb(16, 127, 211);
}
.high-temp {
  color: rgb(215, 23, 10);
}

// Desktop/wider screens
@media only screen and (min-width: $MOBILE-WIDTH-BREAKPOINT) {
  .forecastDay-container {
    height: $d_forecast-compact-height;
  }
  .expanded {
    height: $d_forecast-expanded-height;
  }
  .resize-btn {
    font-size: 1.6rem;
    margin-top: 0%;
  }
  .inner-wrapper {
    width: 100%;
    flex-direction: column;

    .day-compact {
      // border: solid 1px green;

      align-items: center;
      display: grid;
      font-size: 1.4rem;
      grid-template-columns: 12% 34% 26% 25%;
      padding-bottom: 6%;

      .item {
        // border: solid 1px red;

        // justify-self: center;
        text-align: center;
        width: 100%;
      }
      .item-dayOfWeek {
        text-align: center;
      }
      .item-temp {
        .w-icon {
          font-size: 2.5rem;
          padding-right: 0.4rem;
        }
        .temp-text {
        }
      }
      .item-rain {
        display: flex;
        flex-direction: row;

        .rain-icon {
          font-size: 2rem;
        }
        .percent-text {
          font-size: 1.2rem;
          padding-left: 0.4rem;
        }
      }
      .item-highLow {
        font-size: 1.1rem;
      }
    }
  }
}
