.headline-container {
  // background-color: rgb(235, 112, 131);

  align-items: center;
  color: white;
  display: flex;
  flex-direction: column;
  font-size: 0.7rem;
  height: $m_headline-height;
}
.headline-box {
  display: flex;
  flex-direction: row;
  padding-top: 2%;
}
.time-date-box {
  align-self: flex-end;
  width: 55%;
  .time {
    margin-right: auto;
  }
  .date {
    margin-left: auto;
    padding-right: 1rem;
  }
}
.city {
  font-size: 1.3rem;
}
.search {
  justify-content: center;
  width: 70%;
  z-index: 1000;
  button:focus {
    outline: 0;
  }

  .loc-btn {
    background-color: rgba(255, 255, 255, 0);
    border: none;
    color: gray;
    padding-right: 4%;
  }

  /* Styling for the Autosuggest elements (ie. react-autosuggest__)
  ---------------------------------------------------------------------*/
  .react-autosuggest__container {
    width: 100%;
  }
  // Autosuggest input text box
  .react-autosuggest__input {
    border: none;
    color: gray;
    font-size: 0.8rem;
    font-style: italic;
    padding: 0.2rem;
    width: 100%;
  }
  // Autosuggest dropdown list
  .react-autosuggest__suggestions-list {
    background-color: rgb(255, 255, 255);
    border: solid 1px #aaaaaa;
    color: gray;
    font-size: 0.7rem;
    font-style: italic;
    list-style-type: none;
    padding-left: 0.2rem;
    position: absolute;
    width: 63%;
    z-index: 100;
  }
  // Autosuggest list current highlighted selection
  .react-autosuggest__suggestion--highlighted {
    color: green;
    font-weight: bold;
  }
}

@media only screen and (min-width: $MOBILE-WIDTH-BREAKPOINT) {
  .headline-container {
    font-size: 1.2rem;
  }
  .headline-box {
    padding-top: 1.8%;
  }
  .city {
    font-size: 2.3rem;
  }
  .search {
    width: 40%;

    .loc-btn {
      font-size: 1.2rem;
    }
    .react-autosuggest__input {
      font-size: 1.2rem;
      padding: 0.3rem;
    }
    .react-autosuggest__suggestions-list {
      font-size: 1.1rem;
      width: 37.5%;
    }
  }
}
