.headline-container {
  // border: solid 1px black;

  align-items: center;
  display: flex;
  flex-direction: column;
  font-size: 0.7rem;
  height: $m_heading-height;
}
.headline-box {
  display: flex;
  flex-direction: row;
}
.time-date-box {
  align-self: flex-end;
  padding-top: 3%;
  width: 55%;
  .time {
    margin-right: auto;
  }
  .date {
    margin-left: auto;
    padding-right: 1.3rem;
  }
}
.city {
  font-size: 1.3rem;
  padding-top: 5%;
}
.search {
  padding-top: 4%;
  width: 60%;

  .loc-btn {
    background-color: rgba(255, 255, 255, 0);
    border: none;
    color: $search-button;
    font-size: 1.1rem;
    margin-right: 6%;
  }

  /* Styling for the Autosuggest elements (ie. react-autosuggest__)
  ---------------------------------------------------------------------*/
  .react-autosuggest__container {
    width: 100%;
  }
  // Autosuggest input text box
  .react-autosuggest__input {
    border: none;
    color: $search-box-text;
    font-size: 0.8rem;
    font-style: italic;
    padding: 0.2rem;
    width: 100%;
  }
  // Autosuggest dropdown list
  .react-autosuggest__suggestions-list {
    background-color: $autosuggest-background;
    border: solid 1px $search-box-border;
    color: $search-box-text;
    font-size: 0.7rem;
    font-style: italic;
    list-style-type: none;
    padding-left: 0.2rem;
    position: absolute;
    width: 63%;
    z-index: 100;
  }
  // Autosuggest list current highlighted selection
  .react-autosuggest__suggestion--highlighted {
    color: $autosuggest-list;
    font-weight: bold;
  }
}

@media only screen and (min-width: $MOBILE-WIDTH-BREAKPOINT) and (orientation: portrait) {
  .headline-container {
    font-size: 1.2rem;
    height: $d_heading-height;
  }
  .headline-box {
    padding-top: 1.8%;
  }
  .city {
    font-size: 2.3rem;
    padding-top: 4%;
  }
  .search {
    width: 40%;

    .loc-btn {
      font-size: 1.2rem;
    }
    .react-autosuggest__input {
      font-size: 1.2rem;
      padding: 0.3rem;
    }
    .react-autosuggest__suggestions-list {
      font-size: 1.1rem;
      width: 37.5%;
    }
  }
}
