/*
- MOBILE LAYOUT
------------------------------------------*/
.main-container {
  display: flex;
  flex-direction: row;
  height: $m_primary-height + $m_secondary-height + $m_forecast-compact-height;
  justify-content: center;
  width: 100%;
}
// FOR MOBILE ONLY - content boxes are swipable
.swipeable {
  position: absolute;
  transition: left 1s;
  width: 100%;
}
// "swipes-left" is displayed on the default page, swipes out to the left
.swipes-left {
  left: 0%;
}
// "swipes-right" is displayed offscreen to the right by default, swipes in from the right
.swipes-right {
  left: 100%;
}
.box-summary {
  top: $m_heading-height + $m_primary-height;
}
.temporary-btn {
  background-color: rgba(255, 255, 255, 0);
  border: none;
  color: gray;
  font-size: 1rem;
}
.btn1 {
  margin-left: auto;
  margin-bottom: auto;
  padding: 10% 30% 0 0;
}
.btn2 {
  margin-left: auto;
  padding: 10% 10% 0 0;
}

// MOBILE - Forecast Day, Forecast Hour
.box-days,
.box-hours {
  height: $m_forecast-compact-height;
  top: $m_heading-height + $m_primary-height + $m_secondary-height;
}
.box-days--expanded,
.box-hours--expanded {
  height: $m_forecast-expanded-height;
  top: $m_heading-height + $m_primary-height;
}

// Swipe transitions
.swipe-out--left {
  left: -100%;
  transition: left 1s;
}
.swipe-in--left {
  left: 0%;
  transition: left 1s;
}
.swipe-out--right {
  left: 100%;
  transition: left 1s;
}
.swipe-in--right {
  left: 0%;
  transition: left 1s;
}

// Desktop/wider screens
@media only screen and (min-width: $MOBILE-WIDTH-BREAKPOINT) {
  // DESKTOP layout has 2 columns
  .column {
    // border: solid 1px red;

    display: flex;
    flex-direction: column;
    height: $d_primary-height + $d_secondary-height + $d_forecast-compact-height;
    // width: 50%;
  }
  .left-column {
    width: 40%;
  }
  .right-column {
    padding-left: 8%;
    width: 60%;
  }
  .box-summary {
    top: none;
  }
  // DESKTOP - Forecast Day, Forecast Hour
  .box-days,
  .box-hours {
    height: $d_forecast-compact-height;
    top: none;
  }
  .box-days--expanded,
  .box-hours--expanded {
    height: $d_forecast-expanded-height;
    top: none;
  }
}

.hidden {
  display: none;
}
