.m-container {
  display: flex;
  flex-direction: row;
  height: $m_weather-main-height + $m_weather-sub-height +
    $m_forecast-compact-height;
  justify-content: center;
  width: 100%;
}

// "swipes-left" is displayed on the default page, swipes out to the left
.swipes-left {
  left: 0%;
  position: absolute;
  transition: left 1s;
  width: 100%;
}
// "swipes-right" is displayed offscreen to the right by default, swipes in from the right
.swipes-right {
  left: 100%;
  position: absolute;
  transition: left 1s;
  width: 100%;
}
// Current Temperature
.m-box-1 {
  display: flex;
  flex-direction: row;
  font-size: 3rem;
  height: $m_weather-main-height;
  justify-content: center;
  padding-top: 25%;
  width: 100%;

  .m-temp-group {
    // border: solid 1px red;

    align-items: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 50%;
  }
  .m-wIcon {
    color: rgba(255, 255, 255, 0.639);
    font-size: 5rem;
    padding-top: 8%;
  }
  .m-unit-slider {
    margin-right: -30%;
    margin-top: -5%;
  }
  .temp-wrapper {
    font-size: 4.5rem;
    padding-right: 30%;
    padding-top: 8%;
  }
}
// Weather Summary | Weather Details
.m-box-2 {
  display: flex;
  flex-direction: row;

  color: white;
  font-size: 1.2rem;
  padding-top: 20%;

  height: $m_weather-sub-height;
  top: $m_headline-height + $m_weather-main-height;

  .m-summary-group {
    // border: solid 1px red;

    display: flex;
    flex-direction: column;
    justify-content: start;

    padding-left: 4%;
    width: 50%;

    p {
      padding: 2% 0% 2% 0%;
    }
    .m-p-description {
      padding-top: 16%;
      text-align: center;
    }
    .m-p-precipitation {
      align-items: center;
      color: rgb(34, 185, 185);
      display: flex;
      flex-direction: row;
      font-size: 1.4rem;
      justify-content: center;
      padding-left: 100%;
      padding-top: 20%;

      .m-rain-icon {
        font-size: 2.8rem;
        padding-left: 1rem;
        padding-top: 25%;
      }
    }
    .m-low-temp {
      color: rgb(16, 127, 211);
    }
    .m-high-temp {
      color: rgb(215, 23, 10);
      padding-right: 10%;
    }
  }
  .m-details {
    align-items: left;
    color: white;
    display: flex;
    flex-direction: column;
    font-size: 0.7rem;
    justify-content: start;
    padding-left: 30%;
    width: 100%;
  }
  .m-temporary-btn {
    background-color: rgba(255, 255, 255, 0);
    border: none;
    color: gray;
    font-size: 1rem;
  }
  .uvi-rating {
    font-size: 0.5rem;
  }
  .btn1 {
    margin-left: auto;
    margin-bottom: auto;
    padding: 10% 30% 0 0;
  }
  .btn2 {
    margin-left: auto;
    padding: 10% 10% 0 0;
  }
}
// Forecast Day | Forecast Hour
.m-box-3 {
  height: $m_weather-sub-height;
  top: $m_headline-height + $m_weather-main-height + $m_weather-sub-height;
}
.m-box-3--expanded {
  height: $m_forecast-expanded-height;
  top: $m_headline-height + $m_weather-main-height;
}

// Swipe transitions
.swipe-out--left {
  left: -100%;
  transition: left 1s;
}
.swipe-in--left {
  left: 0%;
  transition: left 1s;
}
.swipe-out--right {
  left: 100%;
  transition: left 1s;
}
.swipe-in--right {
  left: 0%;
  transition: left 1s;
}
