// MOBILE - Weather Summary
.summary-container {
  display: flex;
  flex-direction: row;
  font-size: 0.85rem;
  height: $m_secondary-height;

  .wrapper-summary {
    display: flex;
    flex-direction: column;
    justify-content: start;
    width: 50%;
  }
  .text-description {
    padding-top: 16%;
    text-align: center;
  }
  .wrapper-precipitation {
    align-items: center;
    display: flex;
    flex-direction: row;
    font-size: 1.4rem;
    justify-content: center;
    padding-top: 10%;
    transform: scale(0.8);

    .wrapper-raindrop-icon {
      font-size: 3rem;
      position: relative;
      display: inline-block;

      .raindrop-under {
        color: $rain-probability;
        vertical-align: top;
        -webkit-text-stroke-width: 1px;
        -webkit-text-stroke-color: $rain-probability-outline;
      }
      .raindrop-over {
        color: $rain-probability-fill;
        position: absolute;
        left: 0;
        top: 0;
        overflow: hidden;
        -webkit-text-stroke-width: 1px;
        -webkit-text-stroke-color: $rain-probability-outline;
      }
    }
    .wrapper-raindrop-text {
      align-self: start;
      padding-left: 4%;

      .text-probability {
        font-size: 1.2rem;
      }
    }
  }
  .text-feelslike {
    padding-top: 16%;
    text-align: center;
  }
  .temp-high-low {
    font-size: 1.1rem;
    padding-top: 11%;
    text-align: center;
    text-shadow: 1px 1px 0 $text-shadow;

    .temp-high {
      color: $temp-high-red;
    }
    .temp-low {
      color: $temp-low-blue;
      padding-left: 5%;
    }
  }
}

// Desktop/wider screens
@media only screen and (min-width: $MOBILE-WIDTH-BREAKPOINT) {
  // DESKTOP - Weather Summary
  .summary-container {
    font-size: 1.2rem;
    height: $d_secondary-height;
    top: none;

    .summary-right {
      padding-right: 5%; // This should align with (current>.box-temperature)
    }
    .text-description {
      padding-top: 0;
    }
    .wrapper-precipitation {
      padding: 20% 0 0 0;
      transform: scale(1.2);

      .text-probability {
        font-size: 1.5rem;
      }
    }
    .text-feelslike {
      padding-top: 0;
      .temp-high-low {
        font-size: 1.1rem;
        padding-top: 11%;
      }
    }
  }
}
