// MOBILE - Weather Summary
.summary-container {
  display: flex;
  flex-direction: row;
  font-size: 1.2rem;
  height: $m_secondary-height;

  .wrapper-summary {
    display: flex;
    flex-direction: column;
    justify-content: start;
    padding: 0 0 0 4%;
    width: 50%;

    p {
      padding: 2% 0% 2% 0%;
    }
    .text-description {
      padding-top: 16%;
      text-align: center;
    }
    .wrapper-precipitation {
      align-items: center;
      display: flex;
      flex-direction: row;
      font-size: 1.4rem;
      justify-content: center;
      padding: 20% 0 0 100%;

      .wrapper-raindrop-icon {
        font-size: 3rem;
        position: relative;
        display: inline-block;

        .raindrop-under {
          color: $rain-probability;
          vertical-align: top;
          -webkit-text-stroke-width: 1px;
          -webkit-text-stroke-color: $rain-probability-outline;
        }
        .raindrop-over {
          color: $rain-probability-fill;
          position: absolute;
          left: 0;
          top: 0;
          overflow: hidden;
          -webkit-text-stroke-width: 1px;
          -webkit-text-stroke-color: $rain-probability-outline;
        }
      }
      .wrapper-raindrop-text {
        .text-probability {
          align-self: flex-start;
          font-size: 1.2rem;
          padding: 0 0 80% 10%;
        }
      }
    }
    .temp-high-low {
      text-shadow: 1px 1px 0 $temp-text-shadow;
      .temp-high {
        color: $temp-high-red;
        padding-right: 10%;
      }
      .temp-low {
        color: $temp-low-blue;
      }
    }
  }
}

// Desktop/wider screens
@media only screen and (min-width: $MOBILE-WIDTH-BREAKPOINT) {
  // DESKTOP - Weather Summary
  .summary-container {
    font-size: 1.4rem;
    height: $d_secondary-height;
    top: none;

    .wrapper-summary {
      padding: 3% 0 0% 8%;

      p {
        padding: 5% 0% 5% 0%;
      }
      .text-description {
        padding-top: 20%;
      }
      .wrapper-precipitation {
        font-size: 1.4rem;
        padding: 30% 0 0 100%;

        .icon-umbrella {
          font-size: 3.5rem;
        }
        .text-probability {
          font-size: 1.5rem;
          padding: 0 0 80% 0;
        }
      }
    }
  }
}
