.weather-container {
  background-color: $background-transparency;
  color: $main-text;
  max-width: $TABLET-WIDTH-BREAKPOINT;
  overflow: hidden;
  position: relative;
  width: 100%;
}

// Desktop/wider screens
@media only screen and (min-width: $TABLET-WIDTH-BREAKPOINT) {
  .weather-container {
    max-width: $DESKTOP-MAX-WIDTH;
  }
}
