.weather-wrapper {
  background-color: rgb(203, 201, 201);

  border: solid 4px blue;

  // display: flex;
  // flex-direction: column;
  position: relative;

  // height: 100%;
  // width: 100%;

  height: 100vh;
  max-width: 600px;
  overflow: hidden;
  width: 100%;
}
.weather-main-container {
  background-color: rgb(237, 232, 94);
  font-size: 3rem;

  display: flex;
  flex-direction: row;
  justify-content: center;

  height: $m_weather-main-height;
}
// "summary" is displayed on the default page, swipes out to the left
.summary {
  left: 0%;
  position: absolute;
  width: 100%;
  transition: left 1s;

  background-color: rgb(78, 187, 131);
}
// "details" is displayed offscreen to the right by default, swipes in from the right
.details {
  left: 100%;
  position: absolute;
  width: 100%;
  transition: left 1s;

  background-color: rgb(174, 82, 213);
}
.summary-top,
.details-top {
  height: $m_weather-sub-height;
  top: $m_headline-height + $m_weather-main-height;
}
.summary-bottom,
.details-bottom {
  height: $m_weather-sub-height;
  top: $m_headline-height + $m_weather-main-height + $m_weather-sub-height;
}
.bottom--expanded {
  top: $m_headline-height + $m_weather-main-height;
  height: $m_forecast-expanded-height;
}
.swipe-out--left {
  left: -100%;
  transition: left 1s;
}
.swipe-in--left {
  left: 0%;
  transition: left 1s;
}
.swipe-out--right {
  left: 100%;
  transition: left 1s;
}
.swipe-in--right {
  left: 0%;
  transition: left 1s;
}
.tempButton {
  font-size: 4rem;
}
