/* Ensure pure, inclusive box sizing across browsers. */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
/* Set the page's max-width within the viewport */
body {
  // background-color: rgb(238, 247, 253);
  font-family: Montserrat, Helvetica, Arial, sans-serif;
  height: 100%;
  margin: 0 auto !important;

  // REPLACE with a general styling that suits the color theme
  button:focus {
    outline: 0;
  }
}

.app-container {
  height: 100vh;
  position: fixed;
  width: 100vw;
  display: flex;
  justify-content: center;
}

// FORCED Scrollbar to display
::-webkit-scrollbar {
  -webkit-appearance: none;
  height: 8px;
  width: 1px;
}

::-webkit-scrollbar-thumb {
  border-radius: 40px;
  background-color: rgba(196, 196, 196, 0.899);
  box-shadow: 0 0 1px rgba(16, 16, 16, 0.797);
}

// Classes to counter device rotation to maintain portrait perspective
.orientleft {
  transform: rotate(-90deg) translateX(-100%);
}
.orientright {
  transform: rotate(90deg) translateY(-100%);
}
@media screen and (orientation: landscape) {
  .app-container {
    height: 100vw;
    width: 100vh;
    transform-origin: 0 0;
  }
}
