// LAYOUT:
//-------------------------------------------------------------
$MOBILE-WIDTH-BREAKPOINT: 600px;
$DESKTOP-MAX-WIDTH: 1200px;

// figure out total # section rows; height percentages based on # of rows out of total
// MOBILE Heights:
$m_heading-height: 18vh;
$m_primary-height: 22vh;
$m_secondary-height: 25vh;
$m_forecast-height: 35vh;

// DESKTOP Heights:
$d_heading-height: 20vh;
$d_primary-height: 20vh;
$d_secondary-height: 25vh;
$d_details-height: 35vh;
$d_forecast-height: 40vh;

// COLORS:
//-------------------------------------------------------------
// General:
$background-transparency: rgba(48, 48, 48, 0.516);
$main-text: white;

// Icons:
$rain-probability: rgb(29, 224, 245);
$rain-probability-outline: rgb(227, 227, 227);
$rain-probability-fill: white;
$weather-icon: white;
$temperature-text: white;

// High/Low Temperatures
$temp-high-red: rgb(145, 16, 7);
$temp-low-blue: rgb(12, 84, 128);
$temp-text-shadow: rgba(255, 255, 255, 0.283);

// Heading section:
$search-button: black;
$search-box-border: #aaaaaa;
$search-box-text: gray;
$autosuggest-list: black;
$autosuggest-background: white;

// Forecast section:
$forecast-heading: white;
$accent-divider: white;

// Details section:
$details-label: rgb(205, 205, 205);
$wind-details: rgb(213, 211, 195);
$wind-icon: black;
$sun-icon: yellow;
$moon-icon: black;

// Buttons:
$units-button: gray;
$units-button-border: rgb(179, 179, 179);
$units-text-C: orange;
$units-text-F: orange;
$units-text-background: white;
